---
import { Icon } from 'astro-icon/components';
import { trimSlash } from '~/utils/permalinks';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

export interface Props {
  links?: Array<MenuLink>;
}

const { links = [] } = Astro.props;

interface MenuLink extends Link {
  links?: Array<MenuLink>;
}

const currentPath = `/${trimSlash(new URL(Astro.url).pathname)}`;
---

<nav
  class="items-center w-full md:w-auto hidden md:flex text-default overflow-y-auto overflow-x-hidden md:overflow-y-visible md:overflow-x-auto md:mx-5"
  aria-label="Main navigation"
>
  <ul
    class="flex flex-col md:flex-row md:self-center w-full md:w-auto text-xl md:text-[0.9375rem] tracking-[0.01rem] font-medium"
  >
    {
      links.map(({ text, href, links }) => (
        <li class={links?.length ? 'dropdown' : ''}>
          {links?.length ? (
            <>
              <button class="hover:text-link dark:hover:text-white px-4 py-3 flex items-center">
                {text}{' '}
                <Icon name="tabler:chevron-down" class="w-3.5 h-3.5 ml-0.5 rtl:ml-0 rtl:mr-0.5 hidden md:inline" />
              </button>
              <ul class="dropdown-menu md:backdrop-blur-md dark:md:bg-dark rounded md:absolute pl-4 md:pl-0 md:hidden font-medium md:bg-white/90 md:min-w-[200px] drop-shadow-xl">
                {links.map(({ text: text2, href: href2 }) => (
                  <li>
                    <a
                      class:list={[
                        'first:rounded-t last:rounded-b md:hover:bg-gray-100 hover:text-link dark:hover:text-white dark:hover:bg-gray-700 py-2 px-5 block whitespace-no-wrap',
                        { 'aw-link-active': href2 === currentPath },
                      ]}
                      href={href2}
                    >
                      {text2}
                    </a>
                  </li>
                ))}
              </ul>
            </>
          ) : (
            <a
              class:list={[
                'hover:text-link dark:hover:text-white px-4 py-3 flex items-centers',
                { 'aw-link-active': href === currentPath },
              ]}
              href={href}
            >
              {text}
            </a>
          )}
        </li>
      ))
    }
  </ul>
</nav>
